USE [master]
GO
/****** Object:  Database [TestTaskDataBase]    Script Date: 12/22/2023 4:05:17 PM ******/
CREATE DATABASE [TestTaskDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestTaskDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestTaskDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestTaskDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestTaskDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestTaskDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestTaskDataBase]
GO
/****** Object:  Table [dbo].[City]    Script Date: 12/22/2023 4:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Lat] [float] NOT NULL,
	[Lon] [float] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 12/22/2023 4:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Salary] [float] NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/22/2023 4:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Cost] [float] NOT NULL,
	[Volume] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sell]    Script Date: 12/22/2023 4:05:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sell](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManagerId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Sum] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Sell] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name], [Lat], [Lon]) VALUES (1, N'Kazan', 55.796, 49.108)
INSERT [dbo].[City] ([Id], [Name], [Lat], [Lon]) VALUES (2, N'Астана', 71.43, 51.128)
INSERT [dbo].[City] ([Id], [Name], [Lat], [Lon]) VALUES (3, N'Белгород', 50.597, 36.588)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Manager] ON 

INSERT [dbo].[Manager] ([Id], [FullName], [Salary], [Age], [PhoneNumber]) VALUES (1, N'Яшонков Арсений Михайлович', 25, 20, N'+79873652362')
INSERT [dbo].[Manager] ([Id], [FullName], [Salary], [Age], [PhoneNumber]) VALUES (2, N'Иванов Рафаэль Станиславович', 30, 25, NULL)
INSERT [dbo].[Manager] ([Id], [FullName], [Salary], [Age], [PhoneNumber]) VALUES (3, N'Абкаров Павел Сергеевич', 30, 22, N'+79871363234')
SET IDENTITY_INSERT [dbo].[Manager] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Cost], [Volume]) VALUES (1, N'Фанера 1', 1000, 20)
INSERT [dbo].[Product] ([Id], [Name], [Cost], [Volume]) VALUES (2, N'Фанера 2', 2000, 30)
INSERT [dbo].[Product] ([Id], [Name], [Cost], [Volume]) VALUES (3, N'Фанера 3', 3000, 40)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Sell] ON 

INSERT [dbo].[Sell] ([Id], [ManagerId], [ProductId], [Count], [Sum], [Date]) VALUES (1, 1, 1, 2, 4000, CAST(N'2023-12-12T11:11:00.000' AS DateTime))
INSERT [dbo].[Sell] ([Id], [ManagerId], [ProductId], [Count], [Sum], [Date]) VALUES (2, 1, 2, 2, 6000, CAST(N'2023-12-12T12:12:00.000' AS DateTime))
INSERT [dbo].[Sell] ([Id], [ManagerId], [ProductId], [Count], [Sum], [Date]) VALUES (5, 2, 3, 3, 9000, CAST(N'2023-12-12T12:12:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sell] OFF
GO
ALTER TABLE [dbo].[Sell]  WITH CHECK ADD  CONSTRAINT [FK_Sell_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([Id])
GO
ALTER TABLE [dbo].[Sell] CHECK CONSTRAINT [FK_Sell_Manager]
GO
ALTER TABLE [dbo].[Sell]  WITH CHECK ADD  CONSTRAINT [FK_Sell_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Sell] CHECK CONSTRAINT [FK_Sell_Product]
GO
USE [master]
GO
